<app-navbar></app-navbar>

<div class="uk-container">
    <div class="uk-text-center uk-margin-large-top">
        <h1><b>PONTO DE ATENDIMENTO INTELIGENTE</b></h1>
        <h2>Use os auscultadores para interagir com seu Assistente Inteligente</h2>
    </div>

    <div class="uk-container uk-text-center">
        <a href="/validacao">
        <img class="headphones" src="/images/headphone2.gif">
            </a>
    </div>

    
    
    
    
</div>
  
    <!--
    
        <div class="uk-container  uk-text-center">
        <p>Já colocou os auscultadores? Vamos começar!</p>
        <button style="background-color: red;" class="uk-button uk-button-large uk-button-danger uk-border-rounded">INICIAR</button>
    </div>


-->

