* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .form-container img{
    width: 100px;
    border-radius: 30px;
    margin: 10px;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    font-size: 14px;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }
  
  input:focus {
    border-color: #f70303;
  }
  
  a {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  a:hover {
    background-color: #f01212;
    text-decoration: none;
  }
  
  .error-message {
    color: #f44336;
    font-size: 12px;
  }